[profile.default]
unchecked_cheatcode_artifacts = true

# https://github.com/foundry-rs/foundry/issues/6780#issuecomment-1962319449
bytecode_hash = "none"
auto_detect_remappings = false
cbor_metadata = false
sparse_mode = false

solc_version = "0.8.33"
optimizer = true
via_ir = true
optimizer_runs = 2_000
evm_version = "osaka"
no_match_path = "test/integration/*"
# needed for marktoda/forge-gas-snapshot
ffi = true
fs_permissions = [{ access = "read-write", path = ".forge-snapshots/" }, { access = "read", path = "out" }, { access = "read", path = "script/" }]
gas_snapshot_emit = true

# https://github.com/foundry-rs/foundry/issues/6780#issuecomment-1962319449
[profile.default.optimizer_details]
constantOptimizer = true
yul = true

[profile.integration]
no_match_path = "test/unit/*"
match_path = "test/integration/*"
fail_on_revert = false
gas_snapshot_emit = false

[fuzz]
runs = 100_000
max_test_rejects = 1_000_000

[invariant]
fail_on_revert = true
runs = 1_000
depth = 20

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
bnb = "${BNB_MAINNET_RPC_URL}"
plasma = "${PLASMA_MAINNET_RPC_URL}"
arbitrum = "${ARBITRUM_MAINNET_RPC_URL}"
base = "${BASE_MAINNET_RPC_URL}"
monad = "${MONAD_MAINNET_RPC_URL}"

[lint]
lint_on_build = false
