name: Integration Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.3.0

      - name: Install dependencies
        run: git submodule update --recursive --init

      - name: Install node dependencies
        run: npm install

      - name: Check contract sizes
        run: forge build --sizes --skip MultiCall.sol --skip CrossChainReceiverFactory.sol --skip 'test/*'

      - name: Run tests
        run: forge test --skip 'src/*' --skip 'test/0.8.28/*'
        env:
          FOUNDRY_PROFILE: integration
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          BNB_MAINNET_RPC_URL: ${{ secrets.BNB_MAINNET_RPC_URL }}
          MONAD_MAINNET_RPC_URL: ${{ secrets.MONAD_MAINNET_RPC_URL }}

      - name: Gas comparison
        run: npm run compare_gas
