name: Size Limit Check

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  size-limit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.1

      - name: Install solc 0.8.34
        run: forge compiler resolve --root src/chains/
        env:
          FOUNDRY_SOLC_VERSION: 0.8.34

      - name: Install dependencies
        run: git submodule update --recursive --init

      - name: Install node dependencies
        run: npm install

      - name: Check contract sizes
        run: forge build --sizes --skip MultiCall.sol --skip CrossChainReceiverFactory.sol --skip AllowanceHolder.sol --skip Deployer.sol --skip BlastDeployer.sol --skip ModeDeployer.sol --skip 'test/*'
