name: tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.5.1

      - name: Install solc 0.8.34
        run: forge compiler resolve --root src/chains/
        env:
          FOUNDRY_SOLC_VERSION: 0.8.34

      - name: Install dependencies
        run: git submodule update --recursive --init

      - name: Run EulerSwap math tests
        run: forge test --skip 'src/*' --skip 'script/*' --skip 'test/unit/*' --skip 'test/integration/*' --skip 'test/0.8.25/*' --mp test/0.8.28/EulerSwapBUSL.t.sol

      - name: Build contracts
        run: forge build --skip MultiCall.sol --skip CrossChainReceiverFactory.sol --skip AllowanceHolder.sol --skip Deployer.sol --skip BlastDeployer.sol --skip ModeDeployer.sol --skip 'test/*' --skip 'script/*'

      - name: Build AllowanceHolder and Deployer
        run: forge build -- src/allowanceholder/AllowanceHolder.sol src/deployer/Deployer.sol src/deployer/BlastDeployer.sol src/deployer/ModeDeployer.sol
        env:
          FOUNDRY_SOLC_VERSION: 0.8.25

      - name: Build UniswapV4 tests
        run: forge build -- test/unit/core/UniswapV4UnitTest.t.sol

      - name: Build UniswapV4
        run: forge build -- lib/v4-core/src/PoolManager.sol
        env:
          FOUNDRY_SOLC_VERSION: 0.8.26

      - name: Build MultiCall
        run: forge build -- src/multicall/MultiCall.sol
        env:
          FOUNDRY_EVM_VERSION: london
          FOUNDRY_OPTIMIZER_RUNS: 1000000
          FOUNDRY_SOLC_VERSION: 0.8.28

      - name: Build CrossChainReceiverFactory
        run: forge build -- src/CrossChainReceiverFactory.sol
        env:
          FOUNDRY_EVM_VERSION: london
          FOUNDRY_OPTIMIZER_RUNS: 1000000
          FOUNDRY_SOLC_VERSION: 0.8.28

      - name: Run MultiCall tests
        run: forge test --skip 'src/*' --skip 'test/unit/*' --skip 'test/integration/*' --skip 'test/0.8.28/*' --mp test/0.8.25/MultiCall.t.sol
        env:
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          BNB_MAINNET_RPC_URL: ${{ secrets.BNB_MAINNET_RPC_URL }}
          PLASMA_MAINNET_RPC_URL: ${{ secrets.PLASMA_MAINNET_RPC_URL }}
          MONAD_MAINNET_RPC_URL: ${{ secrets.MONAD_MAINNET_RPC_URL }}

      - name: Run CrossChainReceiverFactory tests
        run: forge test --skip 'src/*' --skip 'test/integration/*' --skip 'test/0.8.28/*' --skip 'test/0.8.25/*' --mp test/unit/CrossChainReceiverFactory.t.sol

      - name: Build Base Settlers
        run: forge build src/chains/Base/

      - name: Run all the other tests
        run: FOUNDRY_FUZZ_SEED="0x$(python3 -c 'import secrets, binascii; print(binascii.hexlify((secrets.randbits(256)).to_bytes(32, byteorder="big")).decode("ascii"))')" forge test --skip 'src/*' --skip 'test/0.8.28/*' --skip CrossChainReceiverFactory.t.sol --skip MultiCall.t.sol
        env:
          MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
          BNB_MAINNET_RPC_URL: ${{ secrets.BNB_MAINNET_RPC_URL }}
          PLASMA_MAINNET_RPC_URL: ${{ secrets.PLASMA_MAINNET_RPC_URL }}
          MONAD_MAINNET_RPC_URL: ${{ secrets.MONAD_MAINNET_RPC_URL }}
